<!DOCTYPE html>
<html>
<head>
	<title>School Ranking System</title>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/Stylesheet.css">
	<script type="text/javascript" src="javascript/javascript.js"></script>
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="">Campus</a>
		<a href="">Courses</a>
		<a href="">Scholarships</a>
		<a href="">Results</a>
		<a href="">Admissions</a>
		<a href="">Tests</a>
		<a href="">Datesheet</a>
		<a href="">Preperation</a>
	</div>

	<div id="main">
		<div id="Title">
			<span class="openSideNav" onclick="openNav()">&#9776;</span>
			<span class="titleBar"> School Ranking System </span>
			<span class="titleBarMenu">
				<a href="">Home</a>
				<a href="">Contact Us</a>
				<a href="">About</a>
			</span>
		</div>
		<!--Write Every Fucking Code Here-->

		<h1>Index</h1>
	</div>
</body>
</html>