body {
	margin: 0;
    font: 16px 'Poiret One';
    background-color: #818181;
}

/* Selecting Text */
::selection {
    background: #1abc9c;            /*Torquoise*/
}

/* Side Navigation Bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e2e2e;     /*Gray*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Side Navigation Bar Open Button */
.openSideNav {
    font-size:30px;
    cursor:pointer;
}

/* Side Navigation Bar Open Button Selection */
.openSideNav::selection {
    color: #f1f1f1;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;                 /*Light Gray*/
    display: block;
    transition: 0.3s;
}

.sidenav a:hover , .titleBarMenu a:hover {
    color: #f1f1f1;                 /*White*/
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}

#Title {
    transition: margin-left .5s;
    padding: 16px;
    background: #2e2e2e;            /*Darker Gray*/
    color: #818181;                 /*Lighter Gray*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.titleBar {
    position: relative;
    left: 100px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    text-transform: capitalize;
    line-height:36px;
    padding: 16px;
    background: #1abc9c;            /*Torquoise*/
    color: white;
}

.titleBarMenu {
    font-size: 30px;
    position: absolute;
    right: 100px;
}

.titleBarMenu a {
    color: #818181;                 /*Light Gray*/
    text-decoration: none;
    display: inline-block;
}

.titleBar::selection {
    background: #818181;            /*Lighter Gray*/
}

.titleBarMenu a::selection {
    color: white;
    background-color: #1abc9c;      /*Torquoise*/
}