<!DOCTYPE html>
<html>
<head>
	<title>School Ranking System - {% block title%} {% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/school">Campus</a>
		<a href="/course">Courses</a>
		<a href="">Scholarships</a>
		<a href="">Results</a>
		<a href="">Admissions</a>
		<a href="">Tests</a>
		<a href="">Datesheet</a>
		<a href="">Preperation</a>
	</div>

	<div id="main" class="w3-animate-opacity">
		<div id="Title">
			<span class="openSideNav" onclick="openNav()">&#9776;</span>
			<span class="titleBar"> School Ranking System </span>
			<span class="titleBarMenu">
				<a href="/">Home</a>
				<a href="/contactUs">Contact Us</a>
				<a href="/about">About</a>
			</span>
		</div>
		<!--Write Every Fucking Code Here-->
		<h1>{% block heading %}{% endblock %}</h1>

		{% block body %}{% endblock %}
	</div>
</body>
</html>