{% extends "layout.html" %}

{% block title %}
    Course
{% endblock %}

{% block heading %}
    Course School
{% endblock %}

{% block body %}
    <table style="width:100%">
        <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Level</th>
            <th>School</th>
        </tr>
        {% for i in courseView %}
            <tr>
                <td>{{ i.CourseId }}</td>
                <td>{{ i.Cname }}</td>
                <td>{{ i.Level }}</td>
                <td>{{ i.SchRegNo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}